.center {
    margin-left: auto;
    margin-right: auto;
}
.centerButton {
    display: block;
    margin: auto;
}
.description {
    height: 100px;
    text-align: center;
}
.solution {
    height: 100px;
    text-align: left;  
}
